<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Mohamad Mishal</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto py-8">
        <div class="hero">
            <h1 class="text-4xl">About Me</h1>
            
        </div>

        <div class="grid grid-cols-2 gap-8 mt-8">
            <div>
                <img src="/luffy.jpg" alt="Mohamad Mishal" class="rounded-full mx-auto" style="max-width: 300px;">
            </div>
            <div>
                <p class="text-lg">Hi, I'm Mohamad Mishal, currently studying CPP at Seneca Polytechnic. 
                    I am an introvert and enjoy spending time by myself. I have a small group of friends whom I enjoy watching movies with. 
                    In my free time, I love cooking and my favorite hobby is trying out new recipes. I aspire to become a software developer and 
                    build a great future for myself and my family. My favorite genre of music is melody mixed with some pop, and my favorite anime is One Piece, which I've been watching since 2015.</p>
            </div>
        </div>
    </div>
</body>
</html>
